//Colors

$markedColor: #14a0c7;
$buttonColor: #699900;
$mainBackgroundColor: #fff;
$blockBackgroundColor: #1c1e2a;
$headersTextColor: #21232e;
$blocksTextColor: #c0c3ce;
$footerFirstGradientColor: #669702;
$footerSecondGradientColor: #2a5bd2;

//Images

$headerBackgroundImage: url(../img/m-h-day.jpg);

//Fonts

$fontSource: 'Source Sans Pro', sans-serif;
$fontPrimary: 'Hind', sans-serif;
$fontSecondary: $fontPrimary;