//Colors

$markedColor: #ff4e33;
$buttonColor: #e3ac00;
$mainBackgroundColor: #21232e;
$blockBackgroundColor: #3b3f50;
$headersTextColor: #fff;
$blocksTextColor: #c0c3ce;
$footerFirstGradientColor: #dea405;
$footerSecondGradientColor: #96324f;

//Images

$headerBackgroundImage: url(../img/m-h-night.jpg);

//Fonts

$fontSource: 'Source Sans Pro', sans-serif;
$fontPrimary: 'Hind', sans-serif;
$fontSecondary: 'Fresca', sans-serif;